@import "../../c1-styles/sass/variables";

.container {
  margin-bottom: 80px;
  text-align: center;

  h3 {
    margin-bottom: 6px;
  }

  span {
    position: relative;
    height: 5px;
    width: 60px;
    background-color: $primaryColor;
    border-radius: 10px;
    margin-left: calc(50% - 30px);
    display: block;
  }
}