.projectsBlock{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #2b3940;
}
.projectsContainer{
    flex-direction: column;
    justify-content: flex-start;

}


.projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

@media screen and (max-width: 799px){
    .projects{
        justify-content: center;
    }
}