.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffcbdc;
}


.text{
    width: 300px;
    background-color: snow;
}

.photo{
    width: 300px;
    height: 400px;
    background-color: snow;

}