.contactsBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: #e1fce1;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.contactsForm {
    min-height: 100px;
    width: 40%;
    border: 1px solid;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contactsForm input, .contactsForm textarea {
    width: 100%;
}

.send {
    height: 40px;
    width: 100px;
    border: 1px solid;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .contactsForm {
        width: 100%;
    }
}